<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:jaxrs="http://cxf.apache.org/jaxrs"
	xsi:schemaLocation="http://cxf.apache.org/jaxrs http://cxf.apache.org/schemas/jaxrs.xsd http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd"
	default-lazy-init="true">

	<import resource="classpath:META-INF/cxf/cxf.xml" />
	<import resource="classpath:META-INF/cxf/cxf-servlet.xml" />

	<jaxrs:server id="serviceContainer" address="/rest"
		basePackages="com.qiusuo.pair.web.api">
		<jaxrs:providers>
			<bean class="com.fasterxml.jackson.jaxrs.json.JacksonJaxbJsonProvider" />
			<ref bean="exceptionMapper"/>
		</jaxrs:providers>
		<jaxrs:inInterceptors>
			<ref bean="validationInInterceptor" />
		</jaxrs:inInterceptors>
		<jaxrs:outInterceptors>
			<ref bean="validationOutInterceptor" />
		</jaxrs:outInterceptors>
	</jaxrs:server>

	<bean id="exceptionMapper"
		class="org.apache.cxf.jaxrs.validation.ValidationExceptionMapper" />
	<bean id="validationProvider" class="org.apache.cxf.validation.BeanValidationProvider" />

	<bean id="validationInInterceptor"
		class="org.apache.cxf.jaxrs.validation.JAXRSBeanValidationInInterceptor">
		<property name="provider" ref="validationProvider" />
	</bean>

	<bean id="validationOutInterceptor"
		class="org.apache.cxf.jaxrs.validation.JAXRSBeanValidationOutInterceptor">
		<property name="provider" ref="validationProvider" />
	</bean>
</beans>
